body {
    background-color:palevioletred;
}

.title {
    font-size:34pt;
    text-align: center;
    margin-top:2%;
    margin-bottom:1%;
    color:palevioletred;
}

.MainSection {
    height:500px;
    width:50%;
    background-color:white;
    margin-left: 25%;
    margin-top: 5%;
    padding-top:2%;
    border: 1px solid;
    }
    .MainSectionR {
    height:800px;
    width:50%;
    background-color:white;
    margin-left: 25%;
    margin-top: 5%;
    padding-top:2%;
    border: 1px solid;
    }
    

.imgLogo {
margin-left:47.5%;
width:5%;
    }

    .LogoText {
        margin-left:40%;
        color: palevioletred;
        
    }
    
    .Username {
        margin-left: 40%;
        height:20pt;
        border-radius:2px 2px;
    
    } .Password {
        margin-left: 40%;
        height:20pt;
        border-radius:2px 2px;
        clear: both;
        margin-top:2%;
    } 
    
    .button1 {
        margin-left: 35%;
        height:20pt;
        border-radius:2px 2px;
        clear: both;
        margin-top:2%;
        border-radius:10px 10px;
        text-decoration: none;
        
    }
    .button2 {
        margin-left: 3%;
        height:20pt;
        border-radius:10px 10px;
       text-decoration: none;
        margin-top:2%;
    }
    .Login {
         clear: both;
        margin-left: 35%;
        height:20pt;
        border-radius:2px 2px;
        width:30%;
        margin-top:5%;
        background-color: palevioletred;
        color: white;
        float: left;
        margin-bottom:3%;
    }
    .link {
        color: black;
        clear: both;
        
       margin-left:41%;
        margin-top:10%;
    }
    .linkR {
        color: black;
        clear: left;
        float: right;
       margin-left:11%;
        margin-top:1%;
        margin-right: 6%;
    }
   
   .DarkTheme {
    float: right;
    margin-right: 10%;
    background-color:white;
    border-radius:8px 8px;
    font-size:12pt;
}
a.privacy {
    width:10%;
}

.FirstName {
    float: left;
margin-left: 20%;
width: 20%;
    height: 3%;
    margin-bottom:1%;
}
.LastName {
    float: right;
margin-right: 20%;
width: 20%;
    height: 3%;
    margin-bottom:1%;
}
.Username {
    float: left;
    margin-left:20%;
    clear: left;
    width: 20%;
    height: 3%;
    margin-bottom:1%;
}
.Username1 {
    float: left;
    margin-left:36.1%;
    clear: left;
    width: 25%;
    height: 5%;
    margin-bottom:1%;
}
.PhoneNumber {
 float: right; 
    margin-right: 20%; 
    clear: left;
    width: 20%;
    height: 3%;
    margin-bottom:1%;
    margin-top: 0pt;
}

.Password {
    float: left; 
    margin-left: 20%; 
    clear: left;
    width: 20%;
    height: 3%;
    margin-bottom:1%;
    margin-top: 0pt;
}
.Password1 {
    float: right; 
    margin-right: 38%; 
    clear: left;
    width: 25%;
    height: 5%;
    margin-bottom:1%;
    margin-top: 0pt;
}
.ConfirmPassword {
    clear: right;
    margin-right:20%;   
    float: right;
    width: 20%;
    height: 3%;
    margin-bottom:1%;
    
}
.Gender2 {
    clear: right;
    
    float: right;
    
}
.fieldset {
    clear: both;
}
.GenderName {
    width:30%;
    float: right;
     margin-right:10%; 
     border: none; 
}
.DateOfBirth {
    clear:both;
    float: left;
     width: 20%;
    height: 3%;
   
    float: left;
    margin-left: 20%;
}
.DateOfBirth1 {
    clear: both;
    float: left;
     width: 20%;
    height: 3%;
    margin-bottom:1%;
    float: left;
    margin-left: 20%;
}
.Email {
    width: 20%;
    height: 3%;
    margin-bottom:1%;
    float: left;
    margin-left: 20%;
}

.Country {
    float: right;
margin-right: 20%;
width: 20%;
    height: 3%;
    margin-bottom:1%;
    clear: right;
    margin-top:1%;
}
.Adress  {
     float: right;
margin-right: 20%;
width: 20%;
    height: 3%;
    margin-bottom:1%;
    clear: right;

}
.PostalCode {
    float: right;
margin-right: 20%;
width: 20%;
    height: 3%;
    margin-bottom:1%;
    clear: right;
}
.ToS {
   margin-left: 35%;
        height:20pt;
        border-radius:2px 2px;
        clear: left;
        margin-top:6.5%;
        border-radius:10px 10px;
        text-decoration: none;
        float: left;
        margin-right: 2%;
}
 .PP { 
        height:20pt;
        border-radius:2px 2px;
        clear: right;
        margin-top:2%;
        border-radius:10px 10px;
        text-decoration: none;
        float: right;
        margin-right: 35%;
        padding: none;
}
 .Language {
    width: 20%;
    height: 5%;
    margin-bottom:1%;
    float: left;
    margin-left: 20%;
    clear: left;
    margin-top:10%;
    border: none;
 }
 @media  screen and (max-width: 375px)
 {
    *{
        background-color: blue;;
        float: none;
        width: 90%;
        text-align: center;
    }
    body{
        background-color: blue;
    }
    .DarkTheme{
        float: none;
        width: 90%;
        margin: 0 auto 20px auto;
        text-align: center;
        
    }
    .link{
        float:none;
        width:90%;
        text-align: center;
        margin: 0 auto 20px auto;
    }
   
    
 }
 
 @media (max-width: 768px)
 {
    
    .button1{
        margin-left : 30%;
    }
    .link{
        float: right;
        width:40%;
        text-align: center;
        margin: 0 auto 20px auto;
        clear: both;
    }
    .Password1 {
       margin-right: 37.67%;
    }
  
    
   }
  .MainSection, .MainSectionR {
    float: none;
    width: 80%;
    margin-left: 10%;
    
  }
  .LogoText {
    margin-left:35.4%;
  }
  .ToS{
        margin-left: 40%;
    }
    .PP{
        margin-right:38%;
        width:22%;
    }
    .MainSectionR{
        width: 70%;
        float: right;
        margin-right:13.7%;
    }
    body{
        background-color: palevioletred;
    }

 

 @media (max-width: 1024px)
 {

 }